@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'perfetto';
    src: url('/fonts/perfetto-regular-webfont2d79.woff') format('truetype');
    /* Add other font formats if necessary */
}

body {
    font-family: 'perfetto', sans-serif;
}

::selection {
    background: #7c7262;
}


.container_wrapper {
    width: calc(100% - 240px);
    margin: 0 auto;
}

.info_screen {
    opacity: 1;
    transition: 1s;
    p,
    button,

    h2 {
        transition: .9s;
    }

    p {
        transition-delay: .1s;
    }

    button {
        transition-delay: .2s;
    }

    &.hide_screen {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        h2,
        p,
        button {
            transform: translateY(-100px);
            opacity: 0;
        }
    }

}

.full_screen_slider {

    .slick-list,
    .slick-slide>div,
    .slick-slide,
    .slick-track {
        height: 100% !important;
    }

    .slick-dots {
        bottom: 50%;
        transform: translateY(50%);
        width: auto;
        right: 40px;
        display: flex !important;
        flex-direction: column;
    }

    .slick-dots {
        li button:before {
            font-size: 16px;
            color: #FDFDFD;
            opacity: 1;
        }

        .slick-active button:before {
            color: #938068;
        }

    }

}

#header {
    height: 140px
}

@media screen and (max-width: 1600px) {
    .container_wrapper {
        width: calc(100% - 160px);
    }

    #header {
        height: 100px
    }
}

@media screen and (max-width: 1280px) {
    .container_wrapper {
        width: calc(100% - 120px);
    }

    #header {
        height: 90px
    }
}

@media screen and (max-width: 1180px) {
    .container_wrapper {
        width: calc(100% - 120px);
    }

    #header {
        height: 90px
    }
}

@media screen and (max-width: 1024px) {
    .container_wrapper {
        width: calc(100% - 80px);
    }

    #header {
        height: 80px
    }
}

@media screen and (max-width: 768px) {
    .container_wrapper {
        width: calc(100% - 40px);
    }

    #header {
        height: 80px
    }
}

// =====================global classes ===================
.text_primary {
    color: #7c7262;
}

.custom_select {
    ul {
        background: #4D4E4C;
        border: none;
        border-radius: 0;

        li {
            color: #fff;
            background: transparent !important;

            &:hover {
                background: transparent !important;
                color: #7c7262;
            }
        }
    }

    button {
        border-radius: 0;
    }

    label {
        color: white !important;
        border: none;
        outline: none;
        border-radius: none;

        &::after,
        &::before {
            border: none !important;
        }
    }

}

.custom_dropdown_list {
    background: rgb(114, 114, 114);
    border: none;
    border-radius: 0;

    button {
        color: #fff;
        // background: transparent !important;


    }
}

.arrow_btn {
    border-color: transparent;
    border-top-color: #4d4e4c;
    border-width: 12px;
    transition: transform .2s ease-in-out;

    &:hover {
        transform: translateY(3px);
    }
}

.arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -6px);
        transform: translate(-50%, -6px);
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-left: 6px solid #fff;
        border-bottom: 6px solid transparent;
        -ms-transform-origin: center center;
        transform-origin: center center;
        transition: all 1s cubic-bezier(.37, .03, 0, 1)
    }
    &.arrow-rotate:after{
        transform: translate(-50%, -6px) rotate(180deg);
    }
}

// =====================global classes ===================End