@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'perfetto';
    src: url('/fonts/perfetto-regular-webfont2d79.woff') format('truetype');
    /* Add other font formats if necessary */
}

body {
    font-family: 'perfetto', sans-serif;
}

::selection {
    background: #7c7262;
}


.container_wrapper {
    width: calc(100% - 240px);
    margin: 0 auto;
}

#header {
    height: 140px
}

@media screen and (max-width: 1600px) {
    .container_wrapper {
        width: calc(100% - 160px);
    }

    #header {
        height: 100px
    }
}

@media screen and (max-width: 1280px) {
    .container_wrapper {
        width: calc(100% - 120px);
    }

    #header {
        height: 90px
    }
}

@media screen and (max-width: 1180px) {
    .container_wrapper {
        width: calc(100% - 120px);
    }

    #header {
        height: 90px
    }
}

@media screen and (max-width: 1024px) {
    .container_wrapper {
        width: calc(100% - 80px);
    }

    #header {
        height: 80px
    }
}

@media screen and (max-width: 768px) {
    .container_wrapper {
        width: calc(100% - 40px);
    }

    #header {
        height: 80px
    }
}

// =====================global classes ===================
.text_primary {
    color: #7c7262;
}

.custom_select {
    ul {
        background: #4D4E4C;
        border: none;
        border-radius: 0;

        li {
            color: #fff;
            background: transparent !important;

            &:hover {
                background: transparent !important;
                color: #7c7262;
            }
        }
    }

    button {
        border-radius: 0;
    }

    label {
        color: white !important;
        border: none;
        outline: none;
        border-radius: none;

        &::after,
        &::before {
            border: none !important;
        }
    }

}

.custom_dropdown_list {
    background: rgb(114, 114, 114);
    border: none;
    border-radius: 0;

    button {
        color: #fff;
        // background: transparent !important;

       
    }
}
.arrow_btn{
    border-color: transparent;
    border-top-color: #4d4e4c;
    border-width: 12px;
    transition: transform .2s ease-in-out;
    &:hover{
        transform: translateY(3px);
    }
}
// =====================global classes ===================End


